@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

$drawerBgc = #f7f7f7;
$hideWidth = 35px;
$toggleBtnFontSize = 16px;
$linkFontSize = 14px;
$liHoverBgc = #e8e8eb;

.menu {
  background-color: $drawerBgc;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  width: 15%;

  &.hide {
    width: $hideWidth;
  }

  .icon-menu {
    cursor: pointer;
    mx_fc($toggleBtnFontSize, $toggleBtnColor);
    mx_hlh(45px, 45px);
    margin-left: 10px;
  }

  .drawer-block {
    h4 {
      margin-left: 10px;
      mx_whlh(100%, 45px, 45px);
      mx_fc($linkFontSize, $toggleBtnColor);
      overflow: hidden;

      &.hide {
        display: none;
      }
    }

    .item {
      height: 40px;
      mx_brbox();
      padding-left: 12px;

      &:hover {
        background-color: $liHoverBgc;
      }

      a {
        display: inline-block;
        mx_fc($linkFontSize, #000);
        mx_whlh(100%, 40px, 40px);
        overflow: hidden;

        &.active {
          color: $neteaseRed;
        }
      }

      i {
        margin-right: 16px;
      }
    }
  }
}
