.toplist {
  height: 100%; /* fallback for old browsers */
  background: #348F50;
  background: -webkit-linear-gradient(to bottom, #56B4D3, #348F50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .placeholder {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
}
