{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "semi": ["error", "never"],
    "react/jsx-filename-extension": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "react/prop-types": [0],
    "jsx-a11y/media-has-caption": [0],
    "no-console": [0],
    "linebreak-style": [0],
    "jsx-a11y/accessible-emoji": [0],
    "jsx-a11y/mouse-events-have-key-events": [0],
    "no-unused-expressions": [0]
  }
}
