@import '../../common/style/mixin.styl';

.playlist-wrapper {
  height: 250px;
  overflow: visible;
  position: relative;

  img {
    mx_wh(100%, 100%);
  }

  img.background {
    filter: blur(50px);
    opacity: 0.3;
  }

  .playlist-info {
    mx_page_mg();
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
