.singer {
  height: 100vh;
  width: 100%;
  color: #fff;
  background: #003973; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e5e5be, #003973); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
