.dj {
  height: 100%;
  background: #16A085; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F4D03F, #16A085); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F4D03F, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .placeholder {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
}
