@import '../../common/style/mixin.styl'
@import '../../common/style/variable.styl'

// .playlist-container
//   .filter-bgc
//     filter blur(40px)
//     mx_postl(0,0);
//     mx_wh(100%,250px);
//     z-index 0
//   .shadow-bgc
//     background-color rgba(255,255,255,0.7)
//     mx_postl(0,0);
//     mx_wh(100%,323px);
//     z-index 1
//   .playlist-info
//     mx_postl(20px,30px);
//     margin 0 auto
//     right 30px
//     z-index 2
