@import '../../common/style/mixin.styl';

html {
  background-color: #fafafc;
}

.soul-basic-layout {
  min-width: 960px;

  #main {
    display: flex;
    background-color: #fafafc;
    height: calc(100vh - 30px - 60px);
  }

  main {
    flex: 1;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }
}
