@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

$drawerbgc = #f7f7f7;
$hidewidth = 35px;
$togglebtnfontsize = 16px;
$linkfontsize = 14px;
$lihoverbgc = #e8e8eb;

.menu {
  background-color: $drawerBgc;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  width: 15%;
  transition: all 0.2s;

  .anticon {
    visibility: visible;
  }

  &.hide {
    width: $hideWidth;

    a {
      visibility: hidden;
    }
  }

  i.anticon-menu-fold, i.anticon-menu-unfold {
    cursor: pointer;
    mx_fc($togglebtnfontsize, $togglebtncolor);
    mx_hlh(45px, 45px);
    margin-left: 10px;
  }

  .nav-list li {
    height: 40px;
    box-sizing: border-box;
    padding-left: 12px;

    &:hover {
      background-color: $liHoverBgc;
    }

    a {
      display: inline-block;
      mx_fc($linkfontsize, #000);
      mx_whlh(100%, 40px, 40px);
      overflow: hidden;

      &.active {
        color: $neteaseRed;
      }
    }

    i {
      margin-right: 16px;
    }
  }
}
