/*
* 在默认的webpack.config.dev.js文件中，字体图标会失效
* build环境中则没有问题
* 在对比之后，发现两个文件对css的处理有差异
* 生产环境的css经过了一个插件处理
*/
@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?vfil4j');
    src:  url('./fonts/icomoon.eot?vfil4j#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?vfil4j') format('truetype'),
    url('./fonts/icomoon.woff?vfil4j') format('woff'),
    url('./fonts/icomoon.svg?vfil4j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-headphones:before {
    content: "\e910";
}
.icon-music:before {
    content: "\e911";
}
.icon-play:before {
    content: "\e912";
}
.icon-film:before {
    content: "\e913";
}
.icon-video-camera:before {
    content: "\e914";
}
.icon-folder-plus:before {
    content: "\e931";
}
.icon-folder-download:before {
    content: "\e933";
}
.icon-clock:before {
    content: "\e94e";
}
.icon-bell:before {
    content: "\e951";
}
.icon-box-add:before {
    content: "\e95e";
}
.icon-redo2:before {
    content: "\e968";
}
.icon-users:before {
    content: "\e972";
}
.icon-spinner:before {
    content: "\e97a";
}
.icon-spinner2:before {
    content: "\e97b";
}
.icon-spinner3:before {
    content: "\e97c";
}
.icon-spinner4:before {
    content: "\e97d";
}
.icon-spinner5:before {
    content: "\e97e";
}
.icon-spinner6:before {
    content: "\e97f";
}
.icon-spinner7:before {
    content: "\e980";
}
.icon-spinner8:before {
    content: "\e981";
}
.icon-spinner9:before {
    content: "\e982";
}
.icon-spinner10:before {
    content: "\e983";
}
.icon-spinner11:before {
    content: "\e984";
}
.icon-search:before {
    content: "\e986";
}
.icon-enlarge2:before {
    content: "\e98b";
}
.icon-cog:before {
    content: "\e994";
}
.icon-cogs:before {
    content: "\e995";
}
.icon-list:before {
    content: "\e9ba";
}
.icon-list2:before {
    content: "\e9bb";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-download2:before {
    content: "\e9c5";
}
.icon-bookmark:before {
    content: "\e9d2";
}
.icon-bookmarks:before {
    content: "\e9d3";
}
.icon-star-full:before {
    content: "\e9d9";
}
.icon-heart:before {
    content: "\e9da";
}
.icon-grin:before {
    content: "\e9e9";
}
.icon-shocked:before {
    content: "\e9f1";
}
.icon-point-right:before {
    content: "\ea04";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-cross:before {
    content: "\ea0f";
}
.icon-enter:before {
    content: "\ea13";
}
.icon-exit:before {
    content: "\ea14";
}
.icon-play3:before {
    content: "\ea1c";
}
.icon-pause2:before {
    content: "\ea1d";
}
.icon-backward2:before {
    content: "\ea1f";
}
.icon-forward3:before {
    content: "\ea20";
}
.icon-first:before {
    content: "\ea21";
}
.icon-last:before {
    content: "\ea22";
}
.icon-previous2:before {
    content: "\ea23";
}
.icon-next2:before {
    content: "\ea24";
}
.icon-volume-high:before {
    content: "\ea26";
}
.icon-volume-medium:before {
    content: "\ea27";
}
.icon-volume-low:before {
    content: "\ea28";
}
.icon-volume-mute:before {
    content: "\ea29";
}
.icon-volume-mute2:before {
    content: "\ea2a";
}
.icon-loop:before {
    content: "\ea2d";
}
.icon-loop2:before {
    content: "\ea2e";
}
.icon-infinite:before {
    content: "\ea2f";
}
.icon-shuffle:before {
    content: "\ea30";
}
.icon-arrow-left:before {
    content: "\ea38";
}
.icon-arrow-left2:before {
    content: "\ea40";
}
.icon-share2:before {
    content: "\ea82";
}
