// 定义字体大小,字体颜色
mx_fc($size, $color) {
  font-size: $size;
  color: $color;
}

// 定义宽高
mx_wh($width, $height) {
  width: $width;
  height: $height;
}

// 定义宽高行高
mx_whlh($width, $height, $line-height) {
  width: $width;
  height: $height;
  line-height: $line-height;
}

// 定义高行高
mx_hlh($height, $line-height) {
  height: $height;
  line-height: $line-height;
}

// 绝对定位居中
mx_posc() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 绝对定位定义top,left值
mx_postl($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

// 绝对定位定义top,right值
mx_postr($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

mx_postb($top, $bottom) {
  position: absolute;
  top: $top;
  bottom: $bottom;
}

// 绝对定位定义bottom,left值
mx_posbl($bottom, $left) {
  position: absolute;
  bottom: $bottom;
  left: $left;
}

// 绝对定位定义bottom,right值
mx_posbr($bottom, $right) {
  position: absolute;
  bottom: $bottom;
  right: $right;
}

// fixed定位定义top,left值
mx_poftl($top, $left) {
  position: fixed;
  top: $top;
  left: $left;
}

// fixed定位定义top,right值
mx_poftr($top, $right) {
  position: fixed;
  top: $top;
  right: $right;
}

// fixed定位定义bottom,left值
mx_pofbl($bottom, $left) {
  position: fixed;
  bottom: $bottom;
  left: $left;
}

// fixed定位定义bottom,right值
mx_pofbr($bottom, $right) {
  position: fixed;
  bottom: $bottom;
  right: $right;
}

mx_poftb($top, $bottom) {
  position: fixed;
  bottom: $bottom;
  top: $top;
}

// flex 布局盒模型
mx_flex() {
  display: flex;
}

/* flex容器 */
mx_flex_item($num) {
  flex: $num;
  min-width: 0;
}

// flex布局容器属性设置
mx_flex_content() {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

// flex 水平垂直居中
mx_flex_mid() {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 圆角
mx_bdrs($radius) {
  border-radius: $radius;
}

// 边框
mx_bd($num, $color) {
  border: $num solid $color;
}

// border-box
mx_brbox() {
  box-sizing: border-box;
}

// 多行文本显示省略号
mx_more_ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
}

// 单行文本显示省略号
mx_single_ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mx_page_mg() {
  margin: 20px 30px;
}
