.soul-tabs {
  .tabs-head {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .tab {
    cursor: pointer;
    float: left;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
  }

  .tab.active {
    border-bottom: 2px solid #bc2f2e;
    color: #bc2f2e;
  }

  .panel {
    display: none;
  }

  .panel.active {
    display: block;
  }
}
