@import './reset.scss';
@import './mixin.scss';
@import './variable.scss';

/* prettier-ignore */
#root {
  min-height: 100vh;
  font-size: 12PX;
  max-width: 540PX;
  min-width: 320PX;
  margin: 0 auto;
}
