// 单行溢出省略
@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 多行溢出省略
@mixin rows-ellipsis($rows: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $rows;
  overflow: hidden;
}

// 清除浮动
@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

// 1px border 单条
@mixin hairline($color: #ccc) {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    /* prettier-ignore */
    border-top: 1PX solid $color;
    width: 100%;
    content: ' ';
  }

  @media (-webkit-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &::after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }

  @media (-webkit-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }

  @media (-webkit-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    &::after {
      -webkit-transform: scaleY(0.33);
      transform: scaleY(0.33);
    }
  }
}

// 倍图
@mixin bg-image($url) {
  background-image: url($url+'@2x.png');
  @media (-webkit-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url+'@3x.png');
  }
}
