@import '../../common/style/mixin.styl';

.artist-info {
  mx_page_mg();

  .ar-header {
    display: flex;
    margin-bottom: 40px;
  }

  .avatar {
    flex: 0 0 200px;
    mx_wh(200px, 200px);
    margin-right: 20px;
    position: relative;

    & > img {
      mx_wh(100%, 100%);
    }
  }

  .num {
    flex: 1;
    margin-top: 4px;
    padding: 10px;

    .name {
      font-size: 18px;
      margin-bottom: 45px;
    }

    & > span {
      display: block;
      font-size: 12px;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }
  }

  .desc {
    flex: 6;
    font-size: 14px;
    line-height: 25px;
    padding-top: 40px;
  }
}
