html {
  background-color: #fafafc;
}
.dashboard {
  min-width: 1000px;
}
.dashboard .navbar {
  position: fixed;
  top: 0;
  left: 0;
}
.dashboard .content {
  background-color: #fafafc;
  position: absolute;
  top: 30px;
  bottom: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  min-width: 1000px;
  overflow: auto;
  width: 100%;
}
.dashboard .content .views {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  box-flex: 1;
  min-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.dashboard .content .views::-webkit-scrollbar {
  display: none;
}
.dashboard .player {
  min-width: 1000px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.loading {
  animation: roll 4s linear infinite;
  background-color: #fafafc;
  margin: 0 auto;
  margin-top: 50px;
  width: 30px;
  height: 30px;
  position: relative;
  transform: translateZ(0);
}
.loading .icon-spinner10 {
  font-size: 30px;
  color: #bc2f2e;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@-moz-keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.drawer-block > h4 {
  margin-left: 10px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #bfbfc0;
  overflow: hidden;
}
.drawer-block > h4.hide {
  display: none;
}
.drawer-block .items .item {
  height: 40px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
}
.drawer-block .items .item:hover {
  background-color: #e8e8eb;
}
.drawer-block .items .item > a {
  display: inline-block;
  font-size: 14px;
  color: #000;
  width: 100%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.drawer-block .items .item > a.active {
  color: #bc2f2e;
}
.drawer-block .items .item > a>i {
  margin-right: 16px;
}
.starred-block .nolist-info {
  font-size: 12px;
  color: #666;
  padding-left: 45px;
}
.starred-block .items .item {
  height: 40px;
  margin-bottom: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
}
.starred-block .items .item:hover {
  background-color: #e8e8eb;
}
.starred-block .items .item > a {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
  width: 100%;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 45px;
  position: relative;
}
.starred-block .items .item > a > img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
.starred-block .items .item > a>i {
  margin-right: 16px;
}
.drawer {
  background-color: #f7f7f7;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  width: 15%;
}
.drawer.hide {
  width: 35px;
  overflow: hidden;
}
.drawer > i {
  cursor: pointer;
  font-size: 16px;
  color: #bfbfc0;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.headbar {
  width: 100%;
  height: 30px;
  background-color: #bc2f2e;
  cursor: default;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
}
.headbar .left {
  float: left;
}
.headbar .left .icon-arrow-left {
  cursor: pointer;
}
.headbar .left .title {
  display: inline-block;
  margin-left: 30px;
}
.headbar .right {
  float: right;
}
.headbar .right .icon-cross {
  margin-left: 30px;
}
.readylist {
  background-color: #fff;
  border: 1px solid rgba(7,17,27,0.2);
  font-size: 12px;
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 475px;
  height: 430px;
  text-align: left;
  overflow: auto;
  z-index: 1000;
}
.readylist .list-head {
  border-bottom: 1px solid rgba(7,17,27,0.2);
  font-size: 14px;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
}
.readylist .list-head>div:first-child {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  flex: 3;
  box-flex: 3;
  min-width: 0;
}
.readylist .list-head>div:nth-child(2) {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  flex: 2;
  box-flex: 2;
  min-width: 0;
}
.readylist .list-head>div:last-child {
  cursor: default;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  box-flex: 1;
  min-width: 0;
  text-align: right;
}
.readylist .list-body .body-item {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
}
.readylist .list-body .body-item .song-name {
  cursor: pointer;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  flex: 3;
  box-flex: 3;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.readylist .list-body .body-item .song-artist {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  flex: 2;
  box-flex: 2;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.readylist .list-body .body-item .delete-btn {
  color: #b7b7b8;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  box-flex: 1;
  min-width: 0;
  text-align: right;
}
.readylist .list-body .body-item:hover {
  background-color: #e8e8eb;
}
.readylist .list-body .body-item.active {
  position: relative;
}
.readylist .list-body .body-item.active .song-name,
.readylist .list-body .body-item.active .delete-btn {
  color: #df3b3b;
}
.readylist .list-body .body-item.active .song-artist>a {
  color: #df3b3b;
}
.readylist .list-body .body-item.active::before {
  background-color: #df3b3b;
  content: '';
  display: block;
  width: 3px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.lyric-block {
  height: 500px;
  overflow: hidden;
  position: relative;
}
.lyric-block .lyrics {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 16px;
}
.lyric-block .lyrics.move-animate {
  transition: all 1s;
}
.lyric-block .lyrics .line {
  height: 28px;
}
.lyric-block .lyrics .line.active {
  color: #ff0;
}
.lyric-block .lyric-info {
  font-size: 24px;
  color: #000;
  position: absolute;
  top: 100px;
  left: 200px;
}
.rolling {
  background-color: #f4f4f6;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s;
}
.rolling.rolling-up {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateZ(0);
}
.rolling .bg {
  margin: -20px;
  filter: blur(10px);
  width: 120%;
  height: 120%;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}
.rolling .goback {
  color: #6f6565;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 20px;
}
.rolling .left-part {
  width: 550px;
  position: relative;
}
.rolling .left-part .album-img {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
}
.rolling .left-part .album-img.active {
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.3);
  width: 375px;
  height: 375px;
}
.rolling .left-part .album-img>img {
  width: 100%;
  height: 100%;
}
.rolling .left-part .player-btns {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  width: 350px;
  height: 50px;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.rolling .left-part .player-btns>button {
  background-color: transparent;
  border: none;
  text-shadow: 2px 1px 5px #000;
  font-size: 40px;
  color: #fff;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  box-flex: 1;
  min-width: 0;
  outline: none;
}
.rolling .left-part .progress-wrapper {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 600px;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 12px 20px;
}
.rolling .left-part .progress-wrapper .progress-bar {
  background-color: #e5e5e5;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 6px;
  overflow: hidden;
}
.rolling .left-part .progress-wrapper .progress-bar .current-progress {
  height: 6px;
  background-color: #df3b3b;
}
.rolling .right-part {
  margin-left: 550px;
  padding: 40px 0 0 100px;
}
.rolling .right-part .song-name {
  margin-bottom: 20px;
  font-size: 32px;
  color: #463a3a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rolling .right-part .info-block {
  width: 80%;
  border-bottom: 1px solid rgba(7,17,27,0.2);
  padding-bottom: 10px;
}
.rolling .right-part .info-block>span {
  margin-right: 30px;
  font-size: 14px;
  color: #5f5959;
}
.rolling .right-part .info-block>span>a {
  color: #1c47b7;
}
.player {
  background-color: #fff;
  border: 1px solid rgba(7,17,27,0.2);
  width: 100%;
  height: 60px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
}
.player .album-img {
  cursor: pointer;
  width: 60px;
  height: 60px;
}
.player .album-img > img {
  width: 100%;
  height: 100%;
}
.player .player-btns {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  padding: 14px;
  width: 170px;
}
.player .player-btns > button {
  background-color: #df3b3b;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
.player .player-btns > button.pp-btn {
  margin: 0 16px 0 16px;
}
.player .player-btns > button > i {
  font-size: 16px;
  color: #fff;
}
.player .player-state {
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  flex: 6;
  box-flex: 6;
  min-width: 0;
}
.player .player-state .song-info {
  font-size: 12px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 9px 20px;
}
.player .player-state .song-info .song-artist {
  margin-left: 10px;
}
.player .player-state .song-info .song-duration {
  float: right;
}
.player .player-state .song-info > div {
  display: inline-block;
}
.player .player-state .progress-wrapper {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 12px 20px;
}
.player .player-state .progress-wrapper .progress-bar {
  background-color: #e5e5e5;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 6px;
  overflow: hidden;
}
.player .player-state .progress-wrapper .progress-bar .current-progress {
  height: 6px;
  background-color: #df3b3b;
}
.player .vol-wrapper {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  flex: 2;
  box-flex: 2;
  min-width: 0;
  padding: 37px 20px 0;
}
.player .vol-wrapper .vol {
  align-items: center;
  height: 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
}
.player .vol-wrapper .vol .vol-bar {
  background-color: #e5e5e5;
  border-radius: 10px;
  cursor: pointer;
  width: 80%;
  height: 6px;
  overflow: hidden;
}
.player .vol-wrapper .vol .vol-bar .current-vol {
  height: 6px;
  background-color: #df3b3b;
}
.player .player-mode {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  box-flex: 1;
  min-width: 0;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  align-items: center;
}
.player .player-mode>i {
  color: #999;
  margin-left: 18%;
}

/*# sourceMappingURL=main.87966201.css.map*/