.haiqiu-swiper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .haiqiu-swiper-box {
    height: 100%;
    position: absolute;
    left: 0;

    &>div {
      float: left;

      &>img {
        width: 100%;
        height: 100%;
      }
    }

    &.move-animation {
      transition: all 0.4s;
    }

    &.stop-animation {
      transition: all 0s;
    }
  }

  .haiqiu-swiper-arrow {
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    z-index: 2;
  }

  .haiqiu-swiper-arrow-dark {
    background-color: rgba(10, 10, 10, 0.5);
    color: #fff;
  }

  .haiqiu-swiper-arrow-light {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
  }

  .haiqiu-swiper-arrow-pre {
    left: 10px;
  }

  .haiqiu-swiper-arrow-next {
    right: 10px;
  }
}
