@import '../../common/style/mixin.styl'
@import '../../common/style/variable.styl'

html{
  background-color: $pageBgc
}
.dashboard
  .navbar
    mx_poftl(0, 0)
  .content
    background-color $pageBgc
    mx_postb($navBarHeight,$playerHeight)
    mx_flex()
    overflow auto
    width 100%
    .views
      mx_brbox()
      mx_flex_item(1)
      overflow-x hidden
      overflow-y auto
      position relative
      &::-webkit-scrollbar
        display none
  .player
    mx_pofbl(0, 0)
