@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

.songList
  .play-all-btn
    display inline-block
    font-size 16px
    margin-left 12px
    margin-bottom 15px
    cursor pointer
