@import '../../../common/style/mixin.styl';

.starred-block {
  margin-top: 10px;

  .starred-title {
    font-size: 16px;
    color: #bfbfc0;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .no-list-info {
    mx_fc(12px, #666);
    padding-left: 45px;
  }

  .item {
    height: 40px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding-left: 12px;

    &:hover {
      background-color: #e8e8eb;
    }

    & > a {
      display: inline-block;
      box-sizing: border-box;
      mx_fc(14px, #000);
      mx_whlh(100%, 40px, 40px);
      mx_single_ellipsis();
      padding-left: 45px;
      position: relative;

      & > img {
        mx_wh(40px, 40px);
        mx_postl(0, 0);
      }

      &>i {
        margin-right: 16px;
      }
    }
  }
}
