@import '../../../common/style/mixin.styl'
$linkFontSize = 14px
$liHoverBgc = #e8e8eb
.starred-block
  &.hide
    display none
  .items
    .item
      height 40px
      margin-bottom 5px
      mx_brbox()
      padding-left 12px
      &:hover
        background-color $liHoverBgc
      & > a
        display inline-block
        mx_brbox()
        mx_fc($linkFontSize, #000)
        mx_whlh(100%,40px,40px)
        mx_single_ellipsis()
        padding-left 45px
        position relative
        & > img
          mx_wh(40px,40px)
          mx_postl(0,0)
        &>i
          margin-right 16px

