@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

header {
  mx_fc(14px, #fff);
  mx_hlh($headerHeight, $headerHeight);
  box-sizing: border-box;
  background-color: $neteaseRed;
  cursor: default;
  padding: 0 20px;

  .left {
    float: left;
  }

  .right {
    float: right;
    margin-right: 30px;
    mx_hlh($headerHeight, $headerHeight);
  }

  i {
    cursor: pointer;
  }

  .title {
    color: #fff;
    display: inline-block;
    margin-left: 30px;
  }
}
