@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

$nicknameColor = #666666;
$createTimeColor = #aeaeaf;
$btnBorderColor = #c3c4c8
$tagColor = #7e8c8d
.info-header
  mx_flex()
  margin-bottom 40px
  .cover-img
    flex 0 0 200px
    mx_wh(200px, 200px)
    margin-right 20px
    position relative
    & > img
      mx_wh(100%, 100%)
    .play-count
      background-color rgba(7, 17, 27, 0.3)
      mx_fc(12px, #fff)
      mx_postr(0, 0)
      text-align right
      width 100%
  .info-header-right
    font-size 14px
    mx_flex_item(1)
    .title
      mx_fc(20px, #000)
      margin-bottom 12px
    .creator
      & > div
        display inline-block
        margin-bottom 20px
        margin-right 12px
        vertical-align middle
      .creator-avatar
        border-radius 50%
        mx_wh(30px, 30px)
        overflow hidden
        & > img
          mx_wh(100%, 100%)
      .creator-nickname
        color $nicknameColor
      .create-time
        color $createTimeColor
    .operation-buttons
      margin-bottom 20px
      & > a
        border-radius: 5px
        border 1px solid $btnBorderColor
        display inline-block
        mx_hlh(18px, 18px)
        mx_fc(12px, #000)
        margin-right 8px
        padding 8px
        letter-spacing 1px
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
    .tags
      mx_fc(12px, $tagColor)
      & > span
        border 1px solid $btnBorderColor
        border-radius 8px
        cursor pointer
        display inline-block
        mx_hlh(18px, 18px)
        margin 0 10px 4px 0
        padding 4px
    .playlist-desc
      position relative
      & > pre
        color rgb(102, 102, 102)
        cursor pointer
        font-weight 600
        line-height 20px
        margin-top 4px
        height 40px
        overflow hidden
        padding 0 30px
        position absolute
        transition all .5s
        z-index 100
        &.more
          mx_more_ellipsis()
        &.show
          background-color: rgba(10,10,10,0.1)
          height auto

