@import '../../../common/style/mixin.styl';
@import '../../../common/style/variable.styl';

$nicknameColor = #666666;
$createTimeColor = #aeaeaf;
$tagColor = #7e8c8d;

.info-header {
  display: flex;
  margin-bottom: 40px;

  .cover-img {
    flex: 0 0 200px;
    mx_wh(200px, 200px);
    margin-right: 20px;
    position: relative;
  }

  .right {
    font-size: 14px;
    flex: 1;
  }

  .creator {
    margin-bottom: 10px;
  }

  .creator > span {
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
  }

  .creator-avatar {
    border-radius: 50%;
    mx_wh(30px, 30px);
    overflow: hidden;
  }

  .creator-nickname {
    color: $nicknameColor;
  }

  .create-time {
    color: $createTimeColor;
  }

  .operation-buttons {
    margin-bottom: 20px;

    a {
      mx_fc(12px, #000);
      background-color: #f9f9f9d1;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      padding: 8px;
      letter-spacing: 1px;
    }

    i {
      color: $neteaseRed;
    }
  }

  .tags {
    mx_fc(12px, $tagColor);

    span {
      border-radius: 8px;
      cursor: pointer;
      display: inline-block;
      mx_hlh(18px, 18px);
      margin: 0 10px 4px 0;
      padding: 4px;
    }
  }

  .playlist-desc {
    p {
      color: rgb(102, 102, 102);
      cursor: pointer;
      font-weight: 600;
      line-height: 20px;
      margin-top: 4px;
      height: 40px;
      overflow: hidden;
      padding: 0 30px;
      transition: all 0.5s;

      &.more {
        mx_more_ellipsis();
      }

      &.show {
        height: auto;
      }
    }
  }

  .title {
    mx_fc(20px, #000);
    margin-bottom: 12px;
  }
}
