@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

.detail-page {
  background-color: #f4f4f6;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  transition: all 0.2s;
  position: fixed;
  top: 30px;
  left: -100%;

  &.detail-page-show {
    left: 0;
  }

  .bg {
    margin: -20px;
    filter: blur(10px);
    width: 120%;
    height: 120%;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
  }

  .left {
    flex: 1;
    position: relative;
  }

  .album-img {
    width: 350px;
    height: 350px;
    transition: all 0.4s;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
  }

  .album-img.active {
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.3);
    width: 375px;
    height: 375px;
  }

  .right {
    flex: 1;
    box-sizing: border-box;
    padding: 40px 200px 0 100px;
  }

  .name {
    margin-bottom: 20px;
    font-size: 32px;
    color: #464646;
    mx_single_ellipsis();
  }
}
