.haiqiu-swiper-dots-box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  .haiqiu-swiper-dot {
    background: #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
  }

  .haiqiu-swiper-dot-small {
    width: 10px;
    height: 10px;
  }

  .haiqiu-swiper-dot-normal {
    width: 15px;
    height: 15px;
  }

  .haiqiu-swiper-dot-large {
    width: 20px;
    height: 20px;
  }
}
