.findMusic {
  margin: 20px 30px;

  .level2-views {
    position: absolute;
    top: 120px;
    bottom: 20px;
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
