@import '../../../common/style/mixin.styl'
@import '../../../common/style/variable.styl'
.headbar
  mx_wh(100%, $navBarHeight)
  background-color $neteaseRed
  cursor default
  mx_brbox()
  mx_fc(14px, #fff)
  mx_hlh($navBarHeight, $navBarHeight)
  padding 0 20px
  .left
    float left
    .icon-arrow-left
      cursor pointer
    .title
      display inline-block
      margin-left 30px
  .right
    float right
    .icon-cross
      margin-left 30px

