@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

mx_bar($width, $height) {
  background-color: #e5e5e5;
  border-radius: 10px;
  cursor: pointer;
  mx_wh($width, $height);
  overflow: hidden;
}

mx_bar_child() {
  height: 6px;
  background-color: #df3b3b;
}

footer {
  background-color: #fff;
  border: 1px solid rgba(7, 17, 27, 0.2);
  box-sizing: border-box;
  display: flex;

  img {
    mx_wh(100%, 100%);
  }

  .player-album {
    cursor: pointer;
    mx_wh(60px, 60px);
  }

  .player-btns {
    display: flex;
    mx_flex_mid();
    padding: 14px;
    width: 170px;

    i.anticon {
      cursor: pointer;
      mx_fc(24px, $redBgc);
      mx_wh(40px, 40px);
      line-height: 40px;
    }
  }

  .player-state {
    flex: 6;
    position: relative;
  }

  .player-state-top {
    font-size: 12px;
    box-sizing: border-box;
    padding: 9px 20px;

    & > div {
      display: inline-block;
    }
  }

  .artist {
    margin-left: 10px;
  }

  .duration {
    float: right;
  }

  .player-state-bottom {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .progress-bar {
    mx_bar(100%, 6px);
  }

  .current-progress {
    mx_bar_child();
  }

  .vol-wrapper {
    flex: 2;
    position: relative;
  }

  .vol {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .vol-bar {
    mx_bar(80%, 6px);
  }

  .current-vol {
    mx_bar_child();
  }

  .player-extra {
    flex: 1;
    display: flex;
    align-items: center;

    i {
      flex: 1;
      color: #999;
      margin-left: 18%;
    }
  }

  .mode-title {
    cursor: pointer;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}
