@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

footer {
  background-color: #fff;
  border: 1px solid rgba(7, 17, 27, 0.2);
  box-sizing: border-box;
  display: flex;

  .album-img {
    cursor: pointer;
    mx_wh(60px, 60px);
  }

  img {
    mx_wh(100%, 100%);
  }

  .player-btns {
    display: flex;
    mx_flex_mid();
    padding: 14px;
    width: 170px;
  }

  button {
    background-color: $redBgc;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    mx_wh(40px, 40px);
  }

  i {
    mx_fc(16px, #fff);
  }

  .pp-btn {
    margin: 0 16px 0 16px;
  }

  .player-state {
    flex: 6;
  }

  .song-info {
    font-size: 12px;
    box-sizing: border-box;
    mx_wh(100%, 30px);
    padding: 9px 20px;

    & > div {
      display: inline-block;
    }
  }

  .song-artist {
    margin-left: 10px;
  }

  .song-duration {
    float: right;
  }

  .progress-wrapper {
    box-sizing: border-box;
    mx_wh(100%, 30px);
    padding: 12px 20px;
  }

  .progress-bar {
    mx_bar(100%, 6px);
  }

  .current-progress {
    mx_bar_child();
  }

  .vol-wrapper {
    flex: 2;
    padding: 37px 20px 0;
  }

  .vol {
    align-items: center;
    height: 16px;
    box-sizing: border-box;
    display: flex;
  }

  .vol-bar {
    mx_bar(80%, 6px);
  }

  .current-vol {
    mx_bar_child();
  }

  .player-mode {
    flex: 1;
    display: flex;
    align-items: center;

    &>i {
      color: #999;
      margin-left: 18%;
    }
  }
}
