@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

$activeRed = #df3b3b;

.readylist {
  background-color: #fff;
  border: 1px solid rgba(7, 17, 27, 0.2);
  font-size: 12px;
  mx_posbr(50px, 0);
  mx_wh(475px, 430px);
  text-align: left;
  overflow: auto;
  z-index: 1000;

  .list-head {
    border-bottom: 1px solid rgba(7, 17, 27, 0.2);
    font-size: 14px;
    display: flex;
    mx_hlh(40px, 40px);
    padding: 0 30px;

    &>div:first-child {
      flex: 3;
    }

    &>div:nth-child(2) {
      flex: 2;
    }

    &>div:last-child {
      cursor: default;
      flex: 1;
      text-align: right;
    }
  }

  .name {
    cursor: pointer;
    flex: 3;
    mx_single_ellipsis();
  }

  .artist {
    flex: 2;
    mx_single_ellipsis();
  }

  .anticon-close {
    flex: 1;
    color: #b7b7b8;
    text-align: right;
  }

  .list-item {
    display: flex;
    mx_hlh(45px, 45px);
    padding: 0 30px;

    &:hover {
      background-color: #e8e8eb;
    }

    .anticon-close {
      line-height: 45px;
    }

    &.active {
      position: relative;

      .name, .anticon-close {
        color: $activeRed;
      }

      .artist {
        a {
          color: $activeRed;
        }
      }
    }

    &.active::before {
      background-color: $activeRed;
      content: '';
      display: block;
      mx_wh(3px, 30px);
      mx_postl(50%, 0);
      transform: translate(0, -50%);
    }
  }
}
