@import '../../common/style/mixin.styl';
@import '../../common/style/variable.styl';

$songContainerColor = #b0b0b1;
$oddColor = #f4f4f6;
$indexAndNameColor = #333333;

.songList {
  .play-all-btn {
    display: inline-block;
    font-size: 14px;
    margin-left: 12px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .song-container {
    mx_fc(12px, $songContainerColor);
    text-align: left;
  }

  .song-item {
    display: flex;
    mx_hlh(45px, 45px);
    padding-left: 15px;

    &:nth-child(odd) {
      background-color: $oddColor;
    }

    &:nth-child(even) {
      background-color: $pageBgc;
    }
  }

  .section-one, .section-two {
    flex: 2;
    mx_single_ellipsis();

    & > i {
      margin: 0 12px;
    }
  }

  .song-index, .song-name {
    color: $indexAndNameColor;
  }

  .song-artist {
    display: inline-block;
  }

  .song-album {
    flex: 2;
  }

  .song-duration {
    flex: 1;
  }
}
