@import '../../../common/style/mixin.styl'
@import '../../../common/style/variable.styl'

$navlinkUnderline = rgba(7, 17, 27, 0.2);
$navlinkFz = 16px;
$navlinkColor = #000;
.navlink
  border-bottom 1px solid $navlinkUnderline;
  margin-bottom 14px
  overflow hidden
  .items
    .item
      float left
      margin-right 25px
      & > a
        display block
        mx_fc($navlinkFz, $navlinkColor);
        mx_hlh(45px,45px);
        &.active
          border-bottom 2px solid $neteaseRed
