.search {
  width: 100%;
  color: #fff;
  background: #e55d87; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5fc3e4, #e55d87); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5fc3e4,
    #e55d87
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
