.tabs {
  .tabs-head {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .tab {
    cursor: pointer;
    float: left;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
  }

  .tab.active {
    border-bottom: 2px solid #bc2f2e;
    color: #bc2f2e;
  }

  .panel {
    position: absolute;
    right: -200%;
    width: 100%;
    transition: all 1s ease-in-out;
  }

  .panel.active {
    right: 0;
  }
}
